.item1 {
  background-image: url("../../assets/3.jpg");
  background-size: cover;
  width: 30%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    background: #fff;
  }
}
