nav {
  border-bottom: 2px solid brown;
}
.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  ul {
    display: flex;
    column-gap: 30px;
  }
}
.icons {
  i {
    margin: auto 15px;
    font-size: 22px;
  }
}
