.hero,
.glide__hero,
.banner {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: var(--grey-alt);
}

.banner img {
  position: absolute;
  bottom: 0;
}

.banner img.special_01 {
  width: 85rem;
  right: -5%;
}
.banner img.special_02 {
  width: 100rem;
  right: -10%;
}
.banner img.special_03 {
  width: 100rem;
  right: -10%;
}

.banner-content {
  position: absolute;
  top: 50%;
  transform: translate(25%, -50%);
}

.banner-content span {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--grey);
  margin-bottom: 1rem;
}

.banner-content h1 {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.banner-content h3 {
  font-weight: 400;
  color: var(--grey);
  margin-bottom: 2rem;
}

.buttons-group button {
  display: inline-block;
  background-color: transparent;
  border: 1px solid var(--black);
  outline: none;
  padding: 1.2rem 3rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.buttons-group button:first-child {
  background-color: var(--black);
  color: var(--white);
}

.buttons-group button:first-child:hover {
  background-color: transparent;
  color: var(--black);
}

.buttons-group button:last-child:hover {
  background-color: var(--black);
  color: var(--white);
}

.glide__arrows {
  /* position: absolute; */
  top: 50%;
}

.glide__arrow {
  position: absolute;
  top: 50%;
  background-color: #555;
  border: 1px solid var(--black);
  outline: none;
  padding: 1.3rem 1.5rem;
  border-radius: 50%;
  font-size: 1.6rem;
  color: var(--white);
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.glide:hover .glide__arrow {
  visibility: visible;
  opacity: 1;
}

.glide__arrow:hover {
  color: var(--black);
  background-color: transparent;
}

.glide__arrow--left {
  left: 5%;
}

.glide__arrow--right {
  right: 5%;
}

@media only screen and (max-width: 1260px) {
  .hero,
  .glide__hero,
  .banner {
    height: 90vh;
  }

  .banner img.special_01 {
    width: 60rem;
  }
  .banner img.special_02 {
    width: 70rem;
  }
  .banner img.special_03 {
    width: 70rem;
  }
}

@media only screen and (max-width: 996px) {
  .banner-content {
    width: 60%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .banner img.special_01 {
    left: 50%;
    transform: translateX(-50%);
    width: 50rem;
  }

  .banner img.special_02 {
    left: 50%;
    transform: translateX(-50%);
    width: 50rem;
  }
  .banner img.special_03 {
    left: 55%;
    transform: translateX(-50%);
    width: 50rem;
  }
}

@media only screen and (max-width: 768px) {
  .banner-content {
    width: 90%;
  }
}

@media only screen and (max-width: 568px) {
  .banner-content h1 {
    font-size: 3rem;
  }

  .banner-content h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .buttons-group button {
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
  }
}
